.Timeline{
    position: absolute;
    z-index: 1000;
    width:calc(80%);
    margin:10%;
    margin-bottom:30px;
    bottom: 0;
}

.Timeline .date{
    background-color: #FFFFFF;
    font-size: 1.2rem;
    padding: 10px;
    box-shadow: black 0 0 5px;
    width: 200px;
    text-align: center;
    margin-bottom: -10px;
    /*transition: 0.2s margin;*/
}




.Timeline input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  .Timeline input[type=range]:focus {
    outline: none;
  }
  .Timeline input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  .Timeline input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  .Timeline input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
  }
  .Timeline input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  .Timeline input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  .Timeline input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  .Timeline input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  .Timeline input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
  }
  .Timeline input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #FFFFFF;
    cursor: pointer;
  }
  .Timeline input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
  }
  .Timeline input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
  }
  